

<script type="text/javascript">


require([
'jquery',
'sweetalert'
],function($,Swal){

	$(document).ready(function(){
		let timerInterval
		Swal.fire({
		  title: 'Verificación del Pago de la orden: <?php echo $block->getOrderId(); ?>',
		  html: 'Esta ventana se cerrara en <b></b>',
		  timer: 300000,
		  timerProgressBar: true,
		  allowOutsideClick: false,
		  allowEscapeKey: false,
		  allowEnterKey: false,
		  onBeforeOpen: () => {
		    Swal.showLoading()
		    
		    function msToTime(duration) {
			    var milliseconds = parseInt((duration%1000)/100)
			        , seconds = parseInt((duration/1000)%60)
			        , minutes = parseInt((duration/(1000*60))%60)
			        , hours = parseInt((duration/(1000*60*60))%24);

			    hours = (hours < 10) ? "0" + hours : hours;
			    minutes = (minutes < 10) ? "0" + minutes : minutes;
			    seconds = (seconds < 10) ? "0" + seconds : seconds;

			    return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
			}

		    timerInterval = setInterval(() => {
		      Swal.getContent().querySelector('b')
		        .textContent = msToTime(Swal.getTimerLeft())
		    }, 100)
		  },
		  onOpen : () =>{


		  	$.ajax({
	                url: '<?php echo $this->getUrl('totalpago/payment/verification'); ?>',
	                data: {idPago: <?php echo $block->getOrderId();?>},
	                type: 'post',
	                dataType: 'json',
	                context: this,
	            }).done(function (response) {
	                    var msg;
	                    console.log(response);
	                    if (response.Mensaje=="APROBADO") {
	                    	 stopFunction();

	                    	 $.mage.redirect('<?php echo $this->getUrl('checkout/onepage/success'); ?>');
	                        //callback.call(this, elem, response);
	                    } else {
	                        stopFunction();

	                    	$.mage.redirect('<?php echo $this->getUrl('checkout/onepage/failure'); ?>');
	                    }
	            }).fail(function (error) {
	                    //console.log(JSON.stringify(error));
	                    stopFunction();
	            });
	            
		  	var timerIntervalRequest = setInterval(function(){
		  		//console.log("ajax request");

		  		$.ajax({
	                url: '<?php echo $this->getUrl('totalpago/payment/verification'); ?>',
	                data: {idPago: <?php echo $block->getOrderId();?>},
	                type: 'post',
	                dataType: 'json',
	                context: this,
	            }).done(function (response) {
	                    var msg;
	                    console.log(response);
	                    if (response.Mensaje=="APROBADO") {
	                    	 stopFunction();

	                    	 $.mage.redirect('<?php echo $this->getUrl('checkout/onepage/success'); ?>');
	                        //callback.call(this, elem, response);
	                    } else {
	                        stopFunction();

	                    	$.mage.redirect('<?php echo $this->getUrl('checkout/onepage/failure'); ?>');
	                    }
	            }).fail(function (error) {
	                    //console.log(JSON.stringify(error));
	                    stopFunction();
	            });

		  	},15000);

		  	setTimeout(stopFunction,5*60*1000);

		  	function stopFunction(){
		  		console.log("Finalizandos")
		  		clearInterval(timerIntervalRequest);
		  		clearInterval(timerInterval)
		  	}

		  	
		  },
		  onClose: () => {
		    clearInterval(timerInterval)
		  }
		}).then((result) => {
		  if (
		    
		    result.dismiss === Swal.DismissReason.timer
		  ) {
		    console.log('I was closed by the timer') // eslint-disable-line
		  }
		})

	});
	
});

</script>