<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <!-- ko if: (isShowLegend()) -->
    <legend class="legend">
        <span><!-- ko i18n: 'Pague con transferencia bancaria verificada en línea a través de TotalPago' --><!-- /ko --></span>
    </legend><br />
    <!-- /ko -->

     <div class="field date required" data-bind="attr: {id: getCode() + '_bank_type_div'}">
        <label data-bind="attr: {for: getCode() + '_bank_type'}" class="label">
            <span><!-- ko i18n: 'Desde que banco vas a hacer la transferencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select  name="payment[bank_type]"
                                 class="select select-month"
                                 data-bind="attr: {id: getCode() + '_bank_type', 'data-container': getCode() + '-bank-type', 'data-validate': JSON.stringify({required:true})},
                                            enable: isActive($parents),
                                            options: getBanksValues(),
                                            optionsValue: 'idbancoTransf',
                                            optionsText: 'nmbancoTransf',
                                            optionsCaption: $t('Seleccione'),
                                            value: bankType">
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_reference_number_div'}">
        <label data-bind="attr: {for: getCode() + '_reference_number'}" class="label">
            <span><!-- ko i18n: 'Número de Referencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="reference_number" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_reference_number',
                                    title: $t('Número de Referencia'),
                                    'data-container': getCode() + '-reference-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="field date required" data-bind="attr: {id: getCode() + '_reference_date_div'}">
        <label data-bind="attr: {for: getCode() + '_reference_date'}" class="label">
            <span><!-- ko i18n: 'Fecha de Referencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="reference_date" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_reference_date',
                                    title: $t('Fecha de Referencia'),
                                    'data-container': getCode() + '-reference-date',
                                    'data-validate': JSON.stringify({'required-date':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_cedula_number_div'}">
        <label data-bind="attr: {for: getCode() + '_cedula_number'}" class="label">
            <span><!-- ko i18n: 'Cédula:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="cedula_number" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cedula_number',
                                    title: $t('Cédula'),
                                    'data-container': getCode() + '-cedula-number',
                                    'data-validate': JSON.stringify({'required-date':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_fullname_div'}">
        <label data-bind="attr: {for: getCode() + '_fullname'}" class="label">
            <span><!-- ko i18n: 'Nombre:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="fullname" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_fullname',
                                    title: $t('Nombre'),
                                    'data-container': getCode() + '-fullname',
                                    'data-validate': JSON.stringify({'required-date':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_telephone_div'}">
        <label data-bind="attr: {for: getCode() + '_telephone'}" class="label">
            <span><!-- ko i18n: 'Telefono:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="telephone" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_telephone',
                                    title: $t('Nombre'),
                                    'data-container': getCode() + '-telephone',
                                    'data-validate': JSON.stringify({'required-date':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_email_div'}">
        <label data-bind="attr: {for: getCode() + '_email'}" class="label">
            <span><!-- ko i18n: 'Email:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="email" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_email',
                                    title: $t('Email'),
                                    'data-container': getCode() + '-email',
                                    'data-validate': JSON.stringify({'required-date':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field required">
        <label data-bind="attr: {for: getCode() + '_holder'}" class="label">
            <span><!-- ko i18n: 'Card Holder'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="text" name="holder"  class="input-text required-entry" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_holder',
                                    title: $t('Card Holder'),
                                    'data-container': getCode() + '-holder',
                                    'data-validate': JSON.stringify({'required':true})
                              },
                              event:{keypress: validateKey_2},
                              enable: isActive($parents),
                              valueUpdate: 'afterkeydown' "/>
        </div>
    </div>

    <div class="field number required">
        <label data-bind="attr: {for: getCode() + '_holderid'}" class="label">
            <span><!-- ko i18n: 'Card Holder ID'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="text" name="holderid" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_holderid',
                                    title: $t('Card Holder ID'),
                                    'data-container': getCode() + '-holderid',
                                    'data-validate': JSON.stringify({'required-number':true, 'min': 100000,'max': 99999999, 'validate-length':true})},
                              enable: isActive($parents),
                             event:{keydown: validateKey_number,keyup: validateKey_number},
                              valueUpdate: 'afterkeydown' "/>
        </div>
    </div>
    <div class="field type">
        <div class="control">
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.value,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                 } ">
                    <!--ko if: $parent.getIcons(item.value) -->
                    <img data-bind="attr: {
                        'src': $parent.getIcons(item.value).url,
                        'alt': item.type,
                        'width': $parent.getIcons(item.value).width,
                        'height': $parent.getIcons(item.value).height
                        }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="payment[cc_type]"
                   class="input-text"
                   value=""
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType
                   ">
        </div>
    </div>
    <div class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
            <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="text" name="payment[cc_number]" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type','min': 100000000000000,'max': 9999999999999999, 'validate-length':true})},
                              enable: isActive($parents),
                            event:{keydown: validateKey_number2,keyup: validateKey_number2},

                              value: creditCardNumber,
                              valueUpdate: 'afterkeydown' "/>
        </div>
    </div>
    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
            <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select  name="payment[cc_exp_month]"
                                 class="select select-month"
                                 data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
                        </select>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <select name="payment[cc_exp_year]"
                                class="select select-year"
                                data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           event:{change: validateKey_mes},
                                           value: creditCardExpYear">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: (hasVerification())-->
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <input type="password"
                   autocomplete="off"
                   class="input-text required-entry cvv"
                   name="payment[cc_cid]"
                   value=""
                   data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
  event:{keydown: validateKey_number3,keyup: validateKey_number3},
valueUpdate: 'afterkeydown',
                        value: creditCardVerificationNumber" />
            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</fieldset>