<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <!-- ko if: (isShowLegend()) -->
    <legend class="legend">
        <span><!-- ko i18n: 'Pague con transferencia bancaria verificada en línea a través de TotalPago' --><!-- /ko --></span>
    </legend><br />
    <!-- /ko -->

     <div class="field required" data-bind="attr: {id: getCode() + '_bank_type_div'}">
        <label data-bind="attr: {for: getCode() + '_bank_type'}" class="label">
            <span><!-- ko i18n: 'Desde que banco vas a hacer la transferencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select  name="bank_type"
                                 class="select select-month"
                                 data-bind="attr: {id: getCode() + '_bank_type', 'data-container': getCode() + '-bank-type', 'data-validate': JSON.stringify({required:true})},
                                            enable: isActive($parents),
                                            options: getBanksValues(),
                                            optionsValue: 'idbancoTransf',
                                            optionsText: 'nmbancoTransf',
                                            optionsCaption: $t('Seleccione'),
                                            value: bankType,
                                            event:{change: printInfoBank},">
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field">
        <div id="title_tp"></div>
        <div id="nmbancoTransf_text"></div>
        <div id="nmTitularCuentaTransf_text"></div>
        <div id="rifTitularCuentaTransf_text"></div>
        <div id="nuCuentaBancoTransf_text"></div>
        
    </div>
    <br/>
    <div class="field date required" data-bind="attr: {id: getCode() + '_reference_number_div'}">
        <label data-bind="attr: {for: getCode() + '_reference_number'}" class="label">
            <span><!-- ko i18n: 'Número de Referencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <input type="text" name="reference_number" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_reference_number',
                                    title: $t('Número de Referencia'),
                                    'data-container': getCode() + '-reference-number',
                                    'data-validate': JSON.stringify({'required-number':true})
                                  },
                              enable: isActive($parents),
                              value: referenceNumber"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="field date required" data-bind="attr: {id: getCode() + '_reference_date_div'}">
        <label data-bind="attr: {for: getCode() + '_reference_date'}" class="label">
            <span><!-- ko i18n: 'Fecha de Referencia:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" readonly name="reference_date" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_reference_date',
                                    title: $t('Fecha de Referencia'),
                                    value: getDateCurrent(),
                                    'data-container': getCode() + '-reference-date',
                                    'data-validate': JSON.stringify({'required':true})
                                  },
                              enable: isActive($parents),
                              value: referenceDate"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_cedula_number_div'}">
        <label data-bind="attr: {for: getCode() + '_cedula_number'}" class="label">
            <span><!-- ko i18n: 'Cédula:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">

                <div class="field no-label year">
                    <div class="control">
                        <select  name="document_type"
                                 class="select"
                                 data-bind="attr: {id: getCode() + '_document_type', 'data-container': getCode() + '-document-type', 'data-validate': JSON.stringify({required:true})},
                                            enable: isActive($parents),
                                            options: getDocumentValues(),
                                            optionsValue: 'clave',
                                            optionsText: 'valor',
                                            
                                            value: documentType">
                        </select>
                    </div>

                </div>
                <div class="field no-label month">
                    <div class="control">
                        <input type="number" name="cedula_number" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cedula_number',
                                    title: $t('Cédula'),
                                    'data-container': getCode() + '-cedula-number',
                                    'data-validate': JSON.stringify({'required-number':true})
                                  },
                              enable: isActive($parents),
                              value: cedulaNumber"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_fullname_div'}">
        <label data-bind="attr: {for: getCode() + '_fullname'}" class="label">
            <span><!-- ko i18n: 'Nombre:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="fullname" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_fullname',
                                    title: $t('Nombre'),
                                    'data-container': getCode() + '-fullname',
                                    'data-validate': JSON.stringify({'required':true})
                                  },
                              enable: isActive($parents),
                              value: fullname"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_telephone_div'}">
        <label data-bind="attr: {for: getCode() + '_telephone'}" class="label">
            <span><!-- ko i18n: 'Telefono:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">

                        <input type="text" name="telephone" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_telephone',
                                    title: $t('Nombre'),
                                    'data-container': getCode() + '-telephone',
                                    'data-validate': JSON.stringify({'required-number':true})
                                  },
                              enable: isActive($parents),
                              value: telephone"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="field required" data-bind="attr: {id: getCode() + '_email_div'}">
        <label data-bind="attr: {for: getCode() + '_email'}" class="label">
            <span><!-- ko i18n: 'Email:'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label ">
                    <div class="control">

                        <input type="email" name="email" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_email',
                                    title: $t('Email'),
                                    'data-container': getCode() + '-email',
                                    'data-validate': JSON.stringify({'required':true,'validate-email':true})
                                  },
                              enable: isActive($parents),
                              value: email"/>

                    </div>
                </div>
                
            </div>
        </div>
    </div>

    

    
</fieldset>